
* {
    /* margin: 0; */
    padding: 0;
}

.isotipo {
    align-self: flex-start;
    /*    width: 400px;
    height: 125px;*/
    max-width: 100%;
    height: auto;
    /*   display: inline-block; */
    /*toma en cuenta la altura de las etiquetas, como una mezcla de inline y block */
}

.logotipo {
    align-self: flex-start;
    width: 50px;
    height: 80px;
    margin: 10px;
    background-color: rgba(207, 6, 6, 0);
    text-decoration: none;
    color: rgb(95, 93, 93);
    border: 0px solid rgb(241, 241, 234);
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    /* display: inline-block; Si lo dejo se apilan las palabras */
    /*toma en cuenta la altura de las etiquetas, como una mezcla de inline y block */
    /*-webkit-text-fill-color: rgb(0, 0, 0); /* Will override color (regardless of order) */
    /*-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);*/
    text-shadow:
        -1px -1px 0 #ffffff,
        1px -1px 0 #ffffff,
        -1px 1px 0 #ffffff,
        1px 1px 0 #ffffff;
}

/* Estilos base para las tarjetas de los modulos ofertaClub y destacado */
.tarjeta {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    /* display: inline-block; */
    width: calc(50% - 20px);
    /* Tarjetas ocupan el 50% del ancho de su contenedor */
    box-sizing: border-box;
    max-width: 400px;
    /* Ancho máximo de 400px para evitar que se estiren demasiado */
}

/* Estilos específicos para la tarjeta con ID=destacado */
#destacado {
    background-color: #f9f9f9;
}

/* Estilos específicos para la tarjeta con ID=ofertaClub */
#ofertaClub {
    background-color: #e2f2e6;
}



body {
    background: #412027;
    color: #000;
    font-family: 'Lora', serif;
    /* Usar Lora de Google Fonts */
}

.img,
.heroimage {
    width: 100%;
    /* height: 430px; */
    object-fit: contain;
    object-position: center;
    border-radius: 50px;
    /*   max-width: 100%;
    display: block;
*/
}

/* Tama;o imagenes automatico */
.container img {
    width: 100%;
    height: auto;
    /*background: #fff;*/
}

.widget {
    /*max-width: 200px;*/
    min-inline-size: 100px;
    /*height: auto;*/
    /*   margin: 20px;*/
    width: 80%;
    height: 350px;
    margin: 20px;
    align-self: auto;
    object-fit: scale-down;
}

.sidebar-2-ingresar {
    height: 100px;
    margin: 0px;
    align-self: auto;
    object-fit: scale-down;

}

.contenedor {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 0px;
    /* gap entre sectores */
    /* grid-template-columns: repeat(4, 2fr); lo cambio para hacer todas las columnas iguales */
    /*  grid-template-rows: repeat(8, auto); lo saco porque no hace falta declararlo */
    /*grid-template-columns: repeat(4, minmax(200px, 1fr));*/
    /* Pongo este para simplificar y que sean todas iguales */
    /*grid-template-columns: repeat(autofill,minmax(25rem,1fr));  */
    /*width: min(95%, 70rem);*/
    /*grid-template-columns: repeat(4, 1fr);*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-inline: auto;

}

.contenedor#index {
    grid-template-areas:
        "header header header header"
        "widget-1 widget-1 widget-1 widget-1"
        "contenido contenido sidebar sidebar"
        "widget-2 widget-2 widget-2 widget-2"
        "widget-2 widget-2 widget-2 widget-2"
        "contenido-2 contenido-2 contenido-2 sidebar-2"
        "testimonios testimonios testimonios testimonios"
        "footer footer footer footer";
}

.contenedor#tienda {
    display: grid;
    grid-template-areas:
        "header header header header"
        "sidebar widget-1 widget-1 sidebar-2"
        "sidebar contenido contenido sidebar-2"
        "sidebar contenido contenido sidebar-2"
        "sidebar contenido contenido sidebar-2"
        "sidebar contenido contenido sidebar-2"
        "footer footer footer footer";
}


.contenedor#carrito {
    grid-template-areas:
        "header header header header"
        "widget-1 widget-1 widget-1 widget-1"
        "sidebar contenido contenido sidebar-2"
        "sidebar contenido contenido sidebar-2"
        "sidebar contenido contenido sidebar-2"
        "widget-2 widget-2 widget-2 widget-2"
        "widget-2 widget-2 widget-2 widget-2"
        "footer footer footer footer";
}

.contenedor#login-registro {
    grid-template-columns: repeat(autofill, minmax(25rem, 1fr));
    grid-template-areas:
        "header header header header"
        "sidebar contenido contenido sidebar-2"
        "footer footer footer footer";
}

.contenedor#quienes-somos {
    grid-template-areas:
        "header header header header"
        "sidebar contenido contenido sidebar-2"
        "sidebar contenido contenido sidebar-2"
        "footer footer footer footer";
}

/*Inicio tienda*/
.tituloTienda {
    background-color: rgb(151, 46, 90);
    margin: 40px;
    padding: 40px;
    color: #fff;
    border-radius: 30px;
}

.tarjeta-producto {

    margin: 10px;

    padding: 10px;

    width: 100%;

    display: flex;

    align-items: center;

    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.2);
}

.card {
    /*Esto es de la img*/
    max-width: 40%;
    margin-right: 1%;

}

.descripTienda,
.stock {
    margin: 10px;
    display: none;

}

#bComprar {
    outline: none;
    border: 1px solid #fff;
    color: #ddd;
    padding: 10px;
    margin: 15px;
    font-size: 20px;
    background-color: rgb(151, 46, 90);
    border-radius: 20px;
}

#bComprar:hover {
    font-size: 25px;
    background-color: rgb(179, 83, 155);

    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}

.precio {
    margin: 10px;
    font-size: 20px;
}

.tarjeta-producto:hover {
    width: 100%;

    .descripTienda,
    .stock {
        display: block;

    }

}


/*Fin tienda*/

/* Inicio Login Registro */
/*Oferta*/
#ofertas-sidebar,
#ofertas-sidebar2 {
    background-color: #fff;
    padding: 10px;
}

.oferta-card,
.oferta-card2 {
    border: #e9e1d8 solid;
    border-radius: 30px;

    /* background-color: rgb(146, 65, 99); */
    margin-top: 20px;
    padding: 10px;
    /* background-color: #412027; */
}

.nombreOferta {
    /* font-size: 60px; */
}

.precioDes {
    border: solid #e9e1d8;
    border-radius: 30px;
    background-color: rgb(179, 83, 155);
}

.descrip {
    padding: 5px;
    display: none;
}

.precios {
    font-size: 25px;
    display: block;
}

.precioClub {

    color: #ffffff;
}

.oferta-card:hover {

    .descrip {
        display: block;
    }

    .precios {
        display: none;
    }
}

.oferta-card2:hover {

    .descrip {
        display: block;
    }

    .precios {
        display: none;
    }
}

/*Fin Oferta*/


#parrafoHero {
    background-color: white;
    padding: 30px;

}

.parrafo {

    color: rgb(151, 46, 90);


}

.contenedorLoginRegistro {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.cajaAtras {
    max-width: 600px;
    height: 720px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgb(26, 3, 8), rgb(151, 46, 90));
    border-radius: 15px;
}

.cajaAtras div {
    text-align: center;
    /* Centrar el contenido */
    color: white;
}

.cajaAtras div p,
.cajaAtras div button {
    margin: 30px;
}

.cajaAtras div h3 {
    font-weight: 400;
    font-size: 30px;
}

.cajaAtras button {
    padding: 10px 40px;
    border: 2px solid white;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: 300ms;
}

.cajaRegistro,
.cajaLogin,
.cajaAtrasRegistro {
    width: 100%;
    max-width: 350px;
    margin: 20px auto;
}

.cajaAtras button:hover {
    background: white;
    color: rgb(151, 46, 90);
}

.contenedorFormLoginRegistro {
    display: flex;
    /*    flex-direction: column;*/
    align-items: center;
    width: 100%;
    max-width: 350px;
    margin: auto;
}

.contenedorFormLoginRegistro .formularioLogin {
    width: 100%;
    padding: 0px 40px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    border: none;
    /* Eliminar el borde */
}


.contenedorFormLoginRegistro form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(151, 46, 90);
}

.contenedorFormLoginRegistro form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: rgb(231, 227, 230);
    font-size: 16px;
    outline: none;
}

.contenedorFormLoginRegistro form button {
    padding: 10px 40px;
    margin-top: 40px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    background: rgb(151, 46, 90);
    cursor: pointer;
    outline: none;
}


.formularioRegistro {
    height: 24em;
    overflow: auto;
    bottom: -150px;
    display: none;
}

.mensaje {
    margin: 10px;
    color: rgb(151, 46, 90);
}

#formularioLoginContainer {
    width: 100%;
    max-width: 350px;
    margin: 20px auto;
}

.formularioLogin {
    width: 100%;
    padding: 60px 40px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    border: none;
}


/* Fin del login Registro */
@media screen and (max-width: 1100px) {

    .contenedor#login-registro,
    .contenedor#quienes-somos {
        grid-template-areas:
            "header header header header"
            "contenido contenido contenido sidebar"
            "contenido contenido contenido sidebar-2"
            "footer footer footer footer";
    }

    .contenedor#login-registro .sidebar-2,
    .contenedor#quienes-somos .sidebar-2 {
        display: none;
    }
	.contenedor#index {
    grid-template-areas:
        "header header header header"
        "sidebar widget-1 widget-1 sidebar-2"
        "contenido contenido sidebar sidebar"
        "widget-2 widget-2 widget-2 widget-2"
        "widget-2 widget-2 widget-2 widget-2"
        "contenido-2 contenido-2 contenido-2 sidebar-2"
        "testimonios testimonios testimonios testimonios"
        "footer footer footer footer";
}

.contenedor#tienda {
    display: grid;
    grid-template-areas:
        "header header header header"
        "sidebar widget-1 widget-1 sidebar-2"
        "sidebar contenido contenido sidebar-2"
        "footer footer footer footer";
}


.contenedor#carrito {
    grid-template-areas:
        "header header header header"
        "widget-1 widget-1 widget-1 widget-1"
        "sidebar contenido contenido sidebar-2"
        "sidebar contenido contenido sidebar-2"
        "sidebar contenido contenido sidebar-2"
        "widget-2 widget-2 widget-2 widget-2"
        "widget-2 widget-2 widget-2 widget-2"
        "footer footer footer footer";
}
    
}

@media screen and (min-width: 976px) and (max-width: 1000px) {
    .contenedor#login-registro,
    .contenedor#quienes-somos {
        grid-template-areas:
            "header header header header"
            "contenido contenido contenido sidebar"
            "contenido contenido contenido sidebar-2"
            "footer footer footer footer";
    }

    .contenedor#login-registro .sidebar-2,
    .contenedor#tienda .sidebar-2,
    .contenedor#tienda .sidebar,
    .contenedor#quienes-somos .sidebar-2 {
        display: none;
    }
	.contenedor#index {
    grid-template-areas:
        "header header header header"
        "sidebar widget-1 widget-1 sidebar-2"
        "contenido contenido sidebar sidebar"
        "widget-2 widget-2 widget-2 widget-2"
        "widget-2 widget-2 widget-2 widget-2"
        "contenido-2 contenido-2 contenido-2 sidebar-2"
        "testimonios testimonios testimonios testimonios"
        "footer footer footer footer";
}

.contenedor#tienda {
    display: grid;
    grid-template-areas:
        "header header header header"
        "widget-1 widget-1 widget-1 widget-1"
        "contenido contenido contenido contenido"
        "contenido contenido contenido contenido"
        "footer footer footer footer";
}


.contenedor#carrito {
    grid-template-areas:
        "header header header header"
        "widget-1 widget-1 widget-1 widget-1"
        "sidebar contenido contenido sidebar-2"
        "sidebar contenido contenido sidebar-2"
        "sidebar contenido contenido sidebar-2"
        "widget-2 widget-2 widget-2 widget-2"
        "widget-2 widget-2 widget-2 widget-2"
        "footer footer footer footer";
}
}


@media screen and (max-width: 768px) {
    .contenedor#index {
        grid-template-areas:
            "header header header header"
            "widget-1 widget-1 widget-1 widget-1"
            "sidebar sidebar sidebar sidebar"
            "contenido contenido contenido contenido"
            "contenido-2 contenido-2 contenido-2 sidebar-2"
            "testimonios testimonios testimonios testimonios"
            "footer footer footer footer";
    }

    .contenedor#tienda {
        display: grid;
        grid-template-areas:
            "header header header header"
            "widget-1 widget-1 widget-1 widget-1"
            "contenido contenido contenido contenido"
            "contenido contenido contenido contenido"
            "footer footer footer footer";
    }

    .contenedor#carrito {
        grid-template-areas:
            "header header header header"
            "widget-1 widget-1 widget-1 widget-1"
            "contenido contenido sidebar sidebar"
            "contenido contenido sidebar sidebar"
            "contenido contenido sidebar-2 sidebar-2"
            "contenido contenido sidebar-2 sidebar-2"
            "widget-2 widget-2 widget-2 widget-2"
            "footer footer footer footer";
    }

    .contenedor#login-registro,
    .contenedor#quienes-somos {
        grid-template-columns: repeat(autofill, minmax(25rem, 1fr));
        grid-template-areas:
            "header header header header"
            "contenido contenido contenido contenido"
            "sidebar sidebar sidebar-2 sidebar-2 "
            "footer footer footer footer";
    }

    .contenedor#login-registro .sidebar,
    .contenedor#tienda .sidebar-2,
    .contenedor#tienda .sidebar,
    .contenedor#quienes-somos .sidebar {
        display: none;
    }


    /*registro*/

    .cajaAtras {
        max-width: 500px;
    }


    .tarjeta {
        width: 100%;
        /* Ocupa el 100% del ancho cuando el ancho de pantalla es menor o igual a 768px */
        max-width: 500px;
        /* Ancho máximo de 500px */
        margin: 5px;
        /* Reduce el margen para un espaciado más compacto */
    }

    .contenedor#login-registro .sidebar-2 {
        display: visible;
    }

    .contenedor#quienes-somos .sidebar-2 {
        display: visible;
    }

}


@media screen and (max-width: 500px) {
    .contenedor#index {
        grid-template-areas:
            "header header header header"
            "widget-1 widget-1 widget-1 widget-1"
            "contenido contenido contenido contenido"
            "widget-2 widget-2 widget-2 widget-2"
            "sidebar sidebar sidebar sidebar"
            "widget-3 widget-3 widget-3 widget-3"
            "contenido-2 contenido-2 contenido-2 contenido-2"
            "sidebar-2 sidebar-2 sidebar-2 sidebar-2"
            "testimonios testimonios testimonios testimonios"
            "footer footer footer footer";
    }

    .contenedor#tienda {
        display: grid;
        grid-template-areas:
            "header header header header"
            "widget-1 widget-1 widget-1 widget-1"
            "contenido contenido contenido contenido"
            "contenido contenido contenido contenido"
            "footer footer footer footer";
    }

    .contenedor#carrito {
        grid-template-areas:
            "header header header header"
            "contenido contenido contenido contenido"
            "contenido contenido contenido contenido"
            "sidebar sidebar sidebar-2 sidebar-2"
            "sidebar sidebar sidebar-2 sidebar-2"
            "footer footer footer footer";
    }

    .contenedor#login-registro,
    .contenedor#quienes-somos {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "header header header header"
            "contenido contenido contenido contenido"
            "sidebar sidebar sidebar-2 sidebar-2"
            "footer footer footer footer";
    }

    .contenedor#login-registro .sidebar,
    .contenedor#login-registro .sidebar-2,
    .contenedor#tienda .sidebar-2,
    .contenedor#tienda .sidebar,
    .contenedor#quienes-somos .sidebar,
    .contenedor#quienes-somos .sidebar-2 {
        display: none;
    }


    .contenedorFormLoginRegistro form {
        left: -7%;
        width: 67%;
    }



    .contenedor#quienes-somos {
        grid-template-areas:
            "header header header header"
            "widget-1 widget-1 widget-1 widget-1"
            "contenido contenido contenido contenido"
            "contenido contenido contenido contenido"
            "sidebar sidebar sidebar sidebar"
            "footer footer footer footer";
    }

    .tarjeta {
        width: 100%;
        /* Ocupa el 100% del ancho cuando el ancho de pantalla es menor o igual a 500px */
        max-width: none;
        /* Elimina el ancho máximo */
        margin: 5px;
        /* Reduce el margen para un espaciado más compacto */
    }
}








.contenedor>div,
.contenedor .header {
    background: #fff;
    padding: 10px;
    /*  padding de los sectores */
    border-radius: 0px;
    /* elimine el borde redondeado */
}

.contenedor .contenido,
.contenedor .sidebar,
.contenedor .sidebar-2,
.contenedor .footer {
    background: #fff;
    padding: 20px;
    /*  padding de los sectores */
    border-radius: 0px;
    /* elimine el borde redondeado */
    /*    display: inline-block; */
}

.contenedor .contenido-2 {
    background: #fcf4eb;
    padding: 20px;
    /*  padding de los sectores */
    border-radius: 0px;
    /* elimine el borde redondeado */
    /*    display: inline-block; */
}


.contenedor .header {
    /* background: #ffffff;*/
    background-image: url('../imagenes/wineHero.jpg');
    /* Imagen de background */
    color: #5f5f5f;
    grid-area: header;
    text-align: center;
    align-items: center;

    background-size: 100% 300px;
    /* Ajusta el tamaño de la imagen al contenedor */
    background-position: center;
    /* Centra la imagen en el contenedor */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    color: #fff;
    /* Color del texto dentro del encabezado */
    text-align: center;
    /* Alinea el texto al centro */
    padding: 20px;
    /* Espacio interno para el contenido */

}

.contenedor .contenido {
    grid-area: contenido;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: inline-flex;
    min-width: 270px;
    justify-content: space-between;
}

.contenedor .contenido-2 {
    grid-area: contenido-2;
}



.contenedor .sidebar {

    text-align: center;
    /* display: flex; lo saco para que el titulo aparezca arriba de la imagen */
    padding: 10px;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    grid-area: sidebar;
    object-fit: cover;
    object-position: center;
}

.contenedor .sidebar-2 {
    text-align: center;
    padding: 10px;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    grid-area: sidebar-2;
}

.contenedor .sidebar-login {
    background: #fcf4eb;
    text-align: center;
    padding: 10px;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    grid-area: sidebar-login;
}


.contenedor .widget-1 {
    /*background: #fcf4eb;*/
    background: #fff;
    color: #412027;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*  align-items: stretch; */
    /*  grid-auto-rows: 2rem; */
    padding: 0px;
    /*  padding de los sectores */
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.contenedor .widget-2 {
    background: #fff;
    color: #412027;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .widget-3 {
    background: #fcfcfc;
    color: #412027;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .testimonios {
    background: #ffffff;
    color: #412027;
    /*   height: 100px; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    height: auto;
    /*  align-items: stretch; */
    /*  grid-auto-rows: 2rem; */
    padding: 0px;
    /*  padding de los sectores */
    object-fit: cover;
    object-position: center;
    width: auto;




}

.contenedor .widget-1 {
    grid-area: widget-1;

}

.contenedor .widget-2 {
    grid-area: widget-2;
}

.contenedor .widget-3 {
    grid-area: widget-3;
}

.contenedor .testimonios {
    grid-area: testimonios;
}

.contenedor .sidebar-login {
    grid-area: sidebar-login;
}

.contenedor .footer {
    background: #ffff;
    color: #412027;
    align-items: center;
    text-align: center;
    grid-area: footer;
    justify-content: center;
}


/* fin de Tomado de grid-4-responsive.css */


/* Tomado de Clase 6 CSS2 */

h1 {
    text-align: center;

}



.navheader {
    margin: 10px;
    background-color: rgb(224, 224, 224);
    text-decoration: none;
    color: rgb(95, 93, 93);
    border: 1px solid rgb(241, 241, 234);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    /*toma en cuenta la altura de las etiquetas, como una mezcla de inline y block */
}

/* display: block; */
/* pone los botones uno abajo del otro */
/* display: inline-block; */
/*toma en cuenta la altura de las etiquetas, como una mezcla de inline y block */

nav a {
    padding: 10px;

}

.social {
    align-self: flex-start;
    max-width: 100%;
    height: auto;
    /*width: 300px;*/
    /*   height: 125px;*/

    /*   display: inline-block; */
    /*toma en cuenta la altura de las etiquetas, como una mezcla de inline y block */
}



.navfooter {
    margin: 10px;
    background-color: rgb(224, 224, 224);
    text-decoration: none;
    color: rgb(95, 93, 93);
    border: 1px solid rgb(241, 241, 234);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    /*toma en cuenta la altura de las etiquetas, como una mezcla de inline y block */
}

.contenedor>div,
.contenedor .footer {
    background: #fff;
    padding: 20px;
    /*  padding de los sectores */
    border-radius: 10 px;
    /* elimine el borde redondeado */
}

.contenedor .footer {
    /*background-image: url('../imagenes/wineHero.jpg');*/
    /* Imagen de background */
    /*color: #5f5f5f; */
    grid-area: footer;
    text-align: center;
    align-items: center;
    justify-content: center;

    background: #ffff;
    color: #412027;

    background-size: 100% 300px;
    /* Ajusta el tamaño de la imagen al contenedor */
    background-position: center;
    /* Centra la imagen en el contenedor */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    /*color: #fff;*/
    /* Color del texto dentro del encabezado */
    text-align: center;
    /* Alinea el texto al centro */
    padding: 20px;
    /* Espacio interno para el contenido */

    background: #fff;
    padding: 20px;
    /*  padding de los sectores */
    border-radius: 0px;
    /* elimine el borde redondeado */
    /*    display: inline-block; */

}

#contenedor-tarjeta {
    /*display: flex;*/
    text-align: center;
    /* Centra horizontalmente */
    /*   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Las tarjetas tienen un ancho mínimo de 250px y se ajustan automáticamente */
    /* gap: 20px; */
    /* Espacio entre las tarjetas */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    /* Hace que las tarjetas se estiren automáticamente */
}

.tarjeta-premios {

    display: inline-flex;
    /* Cambia display a inline-flex */
    flex-direction: column;
    /* Asegúrate de que las tarjetas sean columnas */
    align-items: stretch;
    /* Esto ajustará la altura de las tarjetas */
    max-width: 200px;
    /* Opcional: establece el ancho máximo */
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 25px;
}

.tarjeta-premios img {
    max-width: 100%;
    /* Escala la imagen al ancho del contenedor */
    height: auto;
    /* Mantiene la proporción de aspecto */
    border-radius: 25px;
}






#admi {
    display: none;
}

/* Finde Tomado de clase 6 CSS2 */

/* El Call To Action del Hero Section */

/* Button Styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #412027;
    /* Los colores de Saraza */
    color: #FFF;
    /* Color del texto BLANCO */
    text-decoration: none;
    border: none;
    border-radius: 45px;
    font-size: 18px;
    margin-top: 10px;
}

.button:hover {
    background-color: #412027;
    /* Color para el HOVER,  buscar otro */
}

/* Estilo para el carritod e compras flotante */

#cart-icon-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

#cart-icon {
    background-color: #412027;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#cart-icon img {
    width: 50px;
    /* Ancho en 50px */
    height: 50px;
    /* Alto en 50px */
    margin-right: 5px;

    /* Borde para debug de si aparece o no */
    /*   border: 1px solid red;*/
}

#cart-item-count {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

/* Agrega estilos para la clase .producto-tarjeta */
.producto-tarjeta {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  /* Estilos para la clase .imagen-tarjeta */
  .imagen-tarjeta {
    max-width: 100px;
    max-height: 150px;
    /* Añade otros estilos según sea necesario */
  }
  

  /* Aplica estilos al contenedor de productos */
.productos {
    /* Ajusta según tus necesidades */
    grid-column: span 2; /* Ocupa dos columnas completas */
  }


  /* Para la tienda  */

  .producto {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }

  .navegacion {
    margin-top: 20px;
  }


  #contenido {
    display: flex;
    flex-direction: column;
    align-items: center; /* Ajusta según sea necesario */
    justify-content: center; /* Ajusta según sea necesario */
    min-height: 100vh; /* Establece una altura mínima del viewport */
  }
  
  #contenedorFormRegistro {
    /* Agrega estilos según sea necesario */
    width: 100%;
    max-width: 600px; /* Ajusta según sea necesario */
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px; /* Ajusta según sea necesario */
  }
  
  div.contenido {
    display: flex !important;
  }
  
