body {
    background-color: #f8f9fa;
    color: #212529;
}

#header {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

#logo-container {
    margin: 10px;
}

#logo {
    max-width: 100px;
    height: auto;
}

main {
    margin: 20px;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
