<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <!-- Incluir Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>

<div id="app">
    <h1>Clientes</h1>

    <!-- Formulario para agregar un nuevo cliente -->
    <form @submit.prevent="agregarCliente">
        <label for="nombreUsuario">Nombre de usuario:</label>
        <input type="text" v-model="nombreUsuario" required>

        <label for="nombreApellido">Nombre y apellido:</label>
        <input type="text" v-model="nombreApellido" required>

        <label for="email">Correo electrónico:</label>
        <input type="email" v-model="email" required>

        <!-- FALTA AGREGAR LOS OTROS ATRIBUTOS DEL CLIENTE
        SEGUN COMO ARME AL CLIENTE EN CLASS CLIENTE
    
        COSAS COMO LAS PROVINCIAS Y LOCALIDADES DEBEN SER SACADAS
        DE OTRAS TABLAS Y PRESENTADAS COMO OPCIONES DENTRO DEL FORMULARIO
    

        ver el tema del ASYNC AWAIT para esperar a que cargue todo y no de errores
            EN LOS FETCH HAY QUE PONER EL ASYNC AWAIT PARA EVITAR TENER PROBLEMAS

    -->

        <button type="submit">Agregar Cliente</button>
    </form>

    <!-- Lista de clientes -->
    <ul>
        <li v-for="cliente in clientes" :key="cliente.clienteId">
            {{ cliente.nombreUsuario }} - {{ cliente.email }}
            <button @click="eliminarCliente(cliente.clienteId)">Eliminar</button>
            <!-- Otros botones para editar o actualizar clientes -->
        </li>
    </ul>
</div>

<!-- Incluir el script de clientes.js -->
<script src="./js/clientesCRUD.js"></script>

</body>
</html>
