<!-- formularioRegistro.html -->

<form action="" class="formularioRegistro" id="formularioRegistro" @submit.prevent="agregarCliente">
    <input type="text" v-model="nombreUsuario" id="nombreUsuario" placeholder="Nombre de usuario" name="nombreUsuario" required>
    <input type="text" v-model="nombreApellido" id="nombreRegistro" placeholder="Nombre y apellido" name="nombreApellido" required>
    <input type="email" v-model="email" id="emailRegistro" placeholder="Correo Electronico" name="email" required>
    <input type="password" v-model="clave" id="passwordRegistro" placeholder="Contraseña" name="clave"required>
    <input type="password"  id="passwordRegistro2" placeholder="Confirmar contraseña" name="confirmarClave" required>
    <input type="tel" v-model="telefonoFijo" id="telefonoFijo" placeholder="telefono fijo" name="telefonoFijo">
    <input type="tel" v-model="telefonoCelular" id="telefonoCelular" placeholder="Celular" name="telefonoCelular">
    <input type="text" v-model="direccionCliente" id="direccionCliente" placeholder="Dirección" name="direccionCliente">
    <input type="text" v-model="pisoDeptoCliente" id="pisoDeptoCliente" placeholder="Piso/Dto" name="pisoDeptoCliente">
    <input type="text" v-model="codigoPostalCliente" id="codigoPostalCliente" placeholder="Código postal" name="codigoPostalCliente">
    <input type="text" v-model="localidadCliente" id="localidadCliente" placeholder="Localidad" name="localidadCliente">
    <input type="text" v-model="provinciaCliente" id="provinciaCliente" placeholder="Provincia" name="provinciaCliente">
    <button type="submit" v-on:click="agregarCliente()">Registrarse</button>
    <p id="mensajeR" class="mensaje"></p>
</form>
