<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/indexCRUD.css">
    <link rel="icon" type="image/jpg" href="./imagenes/favicon.ico" />
    <title>Saraza Winery Club - Administracion de Productos</title>
</head>

<body>
    <header id="header">
        <div>
            <a href="index.html">
                <div class="admin-logo">
                    <img src="./imagenes/isologotipo-saraza-wine-club-redux.png" alt="Administrar Productos">
                </div>
            </a>
        </div>
                <!-- Navbar con tu logo y botones del menú -->
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container">
                        <!-- Logo -->
                        <a class="navbar-brand" href="index.html">
                            <img src="./imagenes/isologotipo-saraza-wine-club-redux.png" alt="Logo" height="30">
                        </a>
        
                        <!-- Botones del menú -->
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <!-- Botón "Administrar Productos" -->
                                <li class="nav-item">
                                    <a class="nav-link" href="productosCRUD.html">Administrar Productos</a>
                                </li>
        
                                <!-- Botón "Administrar Clientes" -->
                                <li class="nav-item">
                                    <a class="nav-link" href="clientesCRUD.html">Administrar Clientes</a>
                                </li>
        
                                <!-- Botón "Ir al Inicio" -->
                                <li class="nav-item">
                                    <a class="nav-link" href="index.html">Ir al Inicio</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
    </header>
    <main>
        <div id="tienda" class="container">
            <h1>Administrar Productos</h1>
            <br>
            <a  class="btn btn-primary" href="producto_nuevo.html">Nuevo</a>
            <br><br>
            <div v-if="error">
                <p>Lo sentimos , ........</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>
                <section v-else>
                    <div class="table-responsive">
                        <table class="table border table-striped table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Foto Tarjeta</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Precio Club</th>
                                    <th scope="col">Foto Tarjeta Oferta Club</th>
                                    <th scope="col">Foto Carrusel Oferta Club</th>
                                    <th scope="col">Foto Destacado</th>

                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(producto, index) in productos" :key="index" :class="index % 2 === 0 ? 'table-light' : 'table-info'">
                                    <td scope="row">{{producto.productoId}}</td>
                                    <td>{{producto.nombreProducto}}</td>
                                    <td>{{producto.descripcionProducto}}</td>
                                    <td>
                                        <img width="60"  :src="producto.fotoTarjetaProducto" :alt="producto.nombreProducto">
                                    </td>
                                    <td>{{producto.precioProducto}}</td>
                                    <td>{{producto.stockProducto}}</td>
                                    <td>{{producto.precioClubProducto}}</td>
                                    <td>
                                        <img width="60"  :src="producto.fotoTarjetaOfertaClubProducto" :alt="producto.nombreProducto">
                                    </td>
                                    <td>
                                        <img width="60"  :src="producto.fotoCaruselOfertaClubProducto" :alt="producto.nombreProducto">
                                    </td>
                                    <td>
                                        <img width="60"  :src="producto.fotoDestacadoProducto" :alt="producto.nombreProducto">
                                    </td>
                                    <td>
                    			<a class="btn btn-primary" :href="'producto_update.html?id='+ producto.productoId" >Editar</a>
                                      <button type="button" class="btn btn-danger" v-on:click="eliminar(producto.productoId)" >Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        <!-- Agrega elementos con los IDs necesarios antes del script 
        <div id="ofertas-sidebar"></div>
        <div id="ofertas-sidebar2"></div>-->
    </main>
    <footer>
        <!-- Contenido del pie de página -->
    </footer>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/productosCRUD.js"></script>
</body>

</html>